.App {
  text-align: center;
  font: .8rem/1.2rem Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0 0 1.2rem;
}

button {
  background-color: darkred;
  padding: 0.5rem 1rem;
  color: white;
}
