.Player {
  padding: 1rem;
  border: 1px solid black;
  min-width: 200px;
  margin: 0 auto 2rem;
  display: inline-block;
}

.Player-hands {
  display: flex;
  justify-content: space-around;
}

.Player-info {
  margin-bottom: 2rem;
}

.Player-info p {
  margin: 0;
}

.Player-bets,
.Player-start-round {
  margin-bottom: 2rem;
}